<div class="container">
  <div class="row">
    <div class="col-xl-12">
      <ol>
        <li>
          Add a Button Which says 'Display Details'
        </li>
        <li>Add aprogram with any content of your choice
          (e.g. 'Secret password = tuna')
        </li>
        <li>Toggle Displaying of that program with the button created in the
          first step
        </li>
        <li>log all button clicks in an array and output that array below the secret
          paragraph (maybe log a timestamp or simply an incrementing number)
        </li>
        <li>Starting oAT the 5th log item, give all future log item a blue background
          (via ngStyle and white color (ngClass)

      </li>
      </ol>
      <hr>
      <button class="btn btn-primary" (click)="onToggleDatails()">Display Details</button>
      <p *ngIf="showSecret">Secret password = tuna</p>
      <div
        *ngFor="let logitem of log; let i = index"
        [ngStyle]="{backgroundColor: i >= 5 ? 'blue' : 'transparent'}"
        [ngClass]="{'white-text': i >= 4}">{{logitem}}</div>

    </div>
  </div>
</div>

